{% extends 'base.html' %}

{% block content %}



<main class="container">
  <h1 class="display-1 text-center mb-5 mt-5 py-5">Efectos del Cambio Climatico en la Economía Salvadoreña</h1>
  {% for seccion in secciones %}
  <div class="row">
      <h1 class=" display-5 text-center py-3">{{seccion.titulo}}</h1>
     
      {% if seccion.parrafo != NULL %}
      <div class="mx-auto 
      {% if seccion.imagen == NULL %}
      col-md-12
      {% else %}
      col-md-8 
      {% endif %}
      ">
        <p class="lead lh-base">{{seccion.parrafo.parrafo|safe}}</p>
      </div>
      {% endif %} 
      {% if seccion.imagen != NULL %}
      <div class="col-md-4 mx-auto">
        <img class="img-fluid rounded " src="{{seccion.imagen.imagen.url}}" alt=""/>
      </div>
      {% endif %}    
  </div>
  {% if user.is_authenticated %}
  <div class="mx-auto text-center"> 
    <a href="#" class="btn btn-primary">Modificar</a>
    <a href="#" class="btn btn-danger">Eliminar</a>
  </div>
  
 
  {% endif %}
      {% endfor %}

    <section id="seccion-1" class="py-5 my-5">
      <h1 class="mx-auto display-5 text-center">Produccion</h1>
      <div ><canvas id="myChart1"></canvas></div>
    </section>
    <section id="seccion-2">
      <h1 class="mx-auto display-5 text-center">Perdidas</h1>
      <canvas id="myChart2"></canvas>
    </section>
  
</main>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
<script>
  const ctx1 = document.getElementById('myChart1');
  const ctx2 = document.getElementById('myChart2');

  new Chart(ctx1, {
    type: 'bar',
    data: {
      labels: [{{ fechas|safe }}],
      datasets: [{
        label: 'Maiz',
        data: [{{ cantidadesMaiz|safe }}],
        borderWidth: 1
      },{
        label: 'Frijol',
        data: [{{ cantidadesFrijol|safe }}],
        borderWidth: 1
      },]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  new Chart(ctx2, {
    type: 'bar',
    data: {
      labels: [{{ fechas|safe }}],
      datasets: [{
        label: '# of Votes',
        data: [{{ cantidadesMaiz|safe }}],
        borderWidth: 1
      },{
        type: 'line',
        label: 'Line Dataset',
        data: [50, 50, 50, 50],
    }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  })
</script>
{% endblock %}
